body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7d154;
}

header {
    background: #a3dafd;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
    block-size: 40px;
    padding:10
}

nav ul li a {
    color: #000;
    text-decoration: none;
    background: #f8cff3;
    
    
}

section {
    padding: 30px;
    margin: 50px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-item {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}